body{
    background-color: darkgray;
}

#mypageName{
    text-align: center;
    color: white;
    font-size: 40px;
    font-style: italic;
}

#myInfo{
    text-align: center;
    padding-left: 50px;
    color: white;
    
  background-size: cover;
  background-repeat: no-repeat;
}
#lastColor{
    color: yellow;
}
.title {
    color: grey;
    font-size: large;
    font-weight: bold;
  }

.content-footer {
    margin: 80px 0;
    padding: 20px 0;
    text-align: center;
    background-color: #73A8C2;
    text-decoration: none;
  }
  .social > li {
    display: inline-block;
    margin: 0 5px;
  }
  .content-footer > p {
    color: #F7EDE1;
  }
  a {
      font-weight: bold;
      text-decoration: none;
      color: #F1C863;
  }
    
  @media only screen and (max-width: 500px) {
      .masthead {
          padding: 3em 0;
      }
      .masthead-heading {
          font-size: 3em;
      }
      .content-footer {
          padding: 2em 2.5em;
    }
  }


  .whoIam{
    font-size: larger;
    color: white;
    padding-left: 50px;
  }

  .topMovies{
    color: white;
    font-style: italic;
  }

  .summary{
    font-style: inherit;
    
  }
  .liColor{
    color: red;
  }